@import "tailwindcss";
@font-face {
    font-family: 'F5.6';
    src: url('./assets/fonts/F5.6-Regular.woff') format('woff');
}
@tailwind utilities;
@theme {
  /* screens */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-*: initial;
  --color-primary: #111111;
  --color-secondary: #25FEC1;
  --color-content-h:#1C1C1C;
  --color-content-m:#707070;
  --color-content-l:#BDBDBD;
  --color-content-xl:#E9E9E9;
  --color-content-xxl:#F5F5F5;
  --color-content-h-a:rgba(28,28,28,.89);
  --color-content-m-a:rgba(28,28,28,.56);
  --color-content-l-a:rgba(28,28,28,.26);
  --color-content-xl-a:rgba(28,28,28,.12);
  --color-content-xxl-a:rgba(28,28,28,.08);
  --color-content-dark-h-a:rgba(255,255,255,.89);
  --color-content-dark-m-a:rgba(255,255,255,.56);
  --color-content-dark-l-a:rgba(255,255,255,.26);
  --color-content-dark-xl-a:rgba(255,255,255,.12);
  --color-content-dark-xxl-a:rgba(255,255,255,.08);
  --color-surface-base: #E7E7E7;
  --color-surface-ev1: #35383B;
  --color-surface-ev2: #000000;
  --color-surface-sheet-h: rgba(255,255,255,.64);
  --color-surface-sheet-m: rgba(255,255,255,.56);
  --color-surface-sheet-l: rgba(255,255,255,.32);
  --color-system-error: #F3785D;
  --color-system-warning: rgba(254, 161, 41, 1.0);
  --color-system-success: #00FF00;
  --color-system-info: #0000FF;

  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-display: "F5.6", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --font-size-overline: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3rem;
  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.b-round-button{
  @apply bg-primary text-content-dark-h-a rounded-full size-16 flex items-center justify-center cursor-pointer hover:scale-95 transition;
}